body {
    background-image: linear-gradient(to bottom, #ccdef6, white 60%, rgb(251, 216, 236) 90%);
    height: 900px;
  }
  
  .select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .place-container{
    width: 250px;
    margin: 16px;
    background-color: rgb(235, 192, 255);
    color: white;
  
  }
  
  .place-container img {
    max-width: 100%;
  }
  
  .place-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .place-info h4 {
    margin: 1;
  }